body {
	font-family: 'Georgia';
}

.main-block {
	width: 1000px;
	min-height: 900px;
	margin: 0 auto;
	background-color : #FFFFFF;
}

.hrefs-block {
	border: 2px solid black;
	margin: 0 10%;
	padding: 10px 10%;
}

.head-block {
	text-align : center;
	margin: 20px 0;
	padding-top: 5px;
	border: 0px solid white;
}

.body-block {
	margin: 0 10%;
	padding-bottom: 40px;
}

a {
	color : black; 
	text-decoration: none;
}

li {
	margin-top: 4px;
}

p {
	margin-left: 20px;
}

.status-module-not-ready{
	background-color : #990000;
}

.status-module-in-progress {
	background-color : #FF7700;
}

.status-module-ready {
	background-color : #009900;
}

.status-module-stable {
	background-color : #000099;
}

.text-status-module-not-ready{
	color : #990000;
}

.text-status-module-in-progress {
	color : #FF7700;
}

.text-status-module-ready {
	color : #009900;
}

.text-status-module-stable {
	color : #000099;
}

.tab-0 {
	padding-left : 1px;
}

.tab-1 {
	padding-left : 22px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-2 {
	padding-left : 44px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-3 {
	padding-left : 66px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-4 {
	padding-left : 88px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-5 {
	padding-left : 110px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-6 {
	padding-left : 132px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-7 {
	padding-left : 154px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-8 {
	padding-left : 176px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-9 {
	padding-left : 198px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.tab-10 {
	padding-left : 220px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

.table-tutarial-status {
	border-spacing: 5px;
}

.row-tutarial-status {
	border: 2px solid black;
}

.cell-tutarial-status-1 {
	width: 5px;
	padding: 5px;
	border: 1px solid black;
}

.cell-tutarial-status-2 {
	padding-left: 5px;
}

.code-table {
	border : 1px solid black;
	display: table;
	width: 100%;
	table-layout: fixed;
	font-family: 'Monospace Regular', monospace;
	font-size: 15px;
}

.code-row {
	border: 0.2px solid black;
	display: table-row;
}

.code-cell-type {
	display: table-cell;
	border: 0.2px solid black;
	padding: 2px 10px;
	width: 40%;
	text-align: right;
}

.code-cell-name {
	display: table-cell;
	border: 0.2px solid black;
	padding: 2px 10px;
	min-width: 150px;
	color : #DD6600;
}

.code-cell-name > a {
	color : #DD6600;
}

.code {
	margin-left : 20px;
	font-family: 'Monospace Regular', monospace;
	border-top:  2px solid #777777;
	border-left: 8px double #777777;
	padding: 20px;
}

.code-tab {
	padding-left : 22px;
	margin-left : 3px;
	border-left: 1px solid #AAAAAA;
}

.block-info {
	border-left: 20px solid #3377FF;
	padding: 20px;
	margin : 10px 20px;
}

.block-warning {
	border-left: 20px solid #FFFF00;
	padding: 20px;
	margin : 10px 20px;
}

.block-error {
	border-left: 20px solid #FF0000;
	padding: 20px;
	margin : 10px 20px;
}